@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

::selection {
  @apply bg-[#ed9c5a]/10 text-[#ed9c5a];
}

html {
  @apply text-white;
}

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
  }

  body {
    @apply bg-black text-white;
  }
}

@layer components {
  .glass-card {
    @apply bg-gradient-to-br from-gray-900/50 to-gray-900/20 backdrop-blur-xl border border-white/10 shadow-2xl;
  }
}

@layer utilities {
  .animate-gradient {
    background-size: 200% 200%;
    animation: gradient 3s ease infinite;
  }

  @keyframes gradient {
    0%,
    100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }
}
